.interna_contato {
  background: url("../img/bg-contato.jpg") no-repeat center;
  background-size: cover;
}

.interna_contato h1 {
  color: black;
}

.interna_contato h1:after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: black;
  margin: 5px auto;
}

/* Contato */
.form {
  padding-right: 60px;
}

.form label {
  display: block;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.form input {
  display: block;
  width: 100%;
  border: 2px solid #9b599f;
  padding: 5px 10px;
  font-family: Georgia, "Times New Roman", serif;
  margin-bottom: 10px;
  outline: none;
  background: #cbe7f2;
}

.form textarea {
  display: block;
  width: 100%;
  border: 2px solid #9b599f;
  padding: 5px 10px;
  font-family: Georgia, "Times New Roman", serif;
  margin-bottom: 20px;
  outline: none;
  background: #cbe7f2;
}

.form button {
  background: none;
  padding: 5px 40px;
}
